html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*Nav Bar*/
header{
  z-index: 1000;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 5px 8%;
  font-family: "poppins";
  backdrop-filter: blur(2rem);
  position: fixed;
  background-color: black;
}

header h1{
   color: white;
   font-family:  "Major Mono Display", monospace;
}

.menu{
  display: flex;
}

.menu a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-transform: capitalize;
  padding: 1rem 2rem;
  font-weight: 400;
}

.menu a:hover{
  text-decoration: underline;
}

#icon{
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

#icon:hover input{
  width: 100px;
}

#icon input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

#icon a.bx-search{
  color: rgb(0, 0, 0);
  font-size: 18px;
  z-index: 999;
}

.dropdown{
  display: flex;
  list-style: none;
  width: 10rem;
  position: absolute;
  justify-content: center;
  padding: 0.4rem 0.5rem;
  z-index: 999;
  background: rgb(0, 0, 0);
  display: none;
}

ul li a:hover{
  color: rgb(56, 101, 246);
}

@media(max-width:800px){
  #kepala .nodrop{
    display: none;
  }
  #kepala .drop:hover .dropdown{
    display: block;
  }
  #kepala #icon{
    padding: 5px 10px;
  }
}

@media(max-width:640px){
  #kepala .nodrop{
    display: none;
  }
  #kepala .drop:hover .dropdown{
    display: block;
  }
  #kepala #icon{
    padding: 5px 10px;
  }
}